@import './index.scss';

/* !!!SECTION ABOUT!!! */
.about {
  background-color: color(secondary);
  color: color(whitef2);
  position: relative;
  font-family: font(paragraph);
  padding: 4em 2em;

  @include response(md) {
    padding: 4em 4em 6em;
  }

  @include response(lg) {
    padding: 10em 4em 16em;
  }

  h4 {
    text-transform: uppercase;
    color: color(whitef2);
    font-family: font(title);
  }

  h3.title {
    font-size: 4rem;
    font-weight: 700;
    font-family: font(title);
    color: color(tertiary);
    margin-bottom: 2rem;

    @include response(md) {
      font-size: 8rem;
      margin-bottom: 2em;
    }
  }

  h5 {
    color: color(whitef2);
    font-family: font(title);
    font-size: size(md);
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-top: 2rem;
    }
  }

  p {
    color: color(whitef2);
    font-family: font(paragraph);
    font-size: 1.4rem;
  }

  a {
    display: block;
    margin-top: 2rem;
  }
}
