@import './index.scss';

/* !!!SECTION ABOUT!!! */
.about {
  background-color: color(secondary);
  color: color(whitef2);
  position: relative;
  font-family: font(paragraph);
  padding: 5em 2em;
  isolation: isolate;
  z-index: 1;

  @include response(sm) {
    padding: 5em 8em;
  }

  @include response(lg) {
    padding: 15em 8em;
  }
  @include response(xxl) {
    padding: 15em 15em;
  }

  h4 {
    text-transform: uppercase;
    color: color(whitef2);
    font-family: font(title);
    font-size: 1rem;

    @include response(md) {
      font-size: 1.3rem;
    }
  }

  h3.title {
    font-size: 4rem;
    font-weight: 700;
    font-family: font(title);
    color: color(tertiary);
    margin-bottom: 2rem;

    @include response(md) {
      font-size: 6rem;
    }
  }

  .about_container {
    position: relative;

    @include response(xl) {
      display: flex;
      justify-content: space-around;
    }

    .about_image {
      display: none;
      width: 400px;
      border-radius: 20px;
      overflow: hidden;

      @include response(xl) {
        display: flex;
      }
    }

    .about_box {
      @include response(xl) {
        // margin-left: auto;
      }

      .about_content {
        margin-bottom: 4rem;
        max-width: 600px;

        h5 {
          color: color(whitef2);
          font-family: font(title);
          font-size: size(md);
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        p {
          color: color(whitef2);
          font-family: font(paragraph);
          font-size: 1.4rem;
        }
      }

      .resume_box {
        display: flex;
        gap: 2rem;
      }

      a {
        display: block;
      }
    }
  }

  .shaperTwo {
    display: none;
    position: absolute;
    top: -300px;
    right: 100px;
    z-index: -1;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 600px;
      background-color: gray;

      .inside {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        height: 595px;
        width: 595px;
        background-color: color(secondary);
      }
    }
  }

  .shaperOne {
    display: none;
    position: absolute;
    bottom: -200px;
    right: 50px;
    z-index: -1;
    rotate: 180deg;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 300px;
      background-color: gray;

      .inside {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        height: 295px;
        width: 295px;
        background-color: color(secondary);
      }
    }
  }
}
