@import './index.scss';

/* !!!HERO!!! */
.header {
  background-color: color(primary);
  height: 90vh;
  position: relative;
  padding: 5em 2em;

  @include response(sm) {
    padding: 5em 8em;
  }

  @include response(lg) {
    padding-bottom: 10rem;
  }

  @include response(xxl) {
    padding: 5em 0em;
    background: rgb(23, 28, 34);
    background: linear-gradient(90deg, rgba(23, 28, 34, 1) 70vw, rgba(42, 216, 131, 1) 70vw);
  }

  .hero {
    color: color(whitef2);
    display: grid;
    height: 100%;

    .hero_title {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      @include response(xxl) {
        text-align: left;
        align-items: flex-start;
      }

      h3 {
        font-family: font(title);
        text-transform: uppercase;
        line-height: 57px;
        font-size: 1.4rem;

        @include response(md) {
          font-size: 2rem;
        }
      }

      h1 {
        font-size: size(xl);
        margin-bottom: 3rem;
        font-weight: 700;
        font-family: font(title);

        @include response(md) {
          font-size: 5rem;
          letter-spacing: 0.3rem;
        }

        @include response(lg) {
          font-size: 7rem;

          letter-spacing: 0.3rem;
        }

        span {
          color: color(tertiary);
        }
      }

      .hero_image {
        border-radius: 50%;
        border: 5px solid color(tertiary);
        position: relative;
        height: 180px;
        width: 180px;
        overflow: hidden;
        margin-inline: auto;

        @include response(xxl) {
          display: none;
        }
      }

      p {
        font-size: size(sm);
        font-family: font(paragraph);
        font-weight: 300;
        margin-top: 2em;
        color: color(whitef2);

        @include response(md) {
          font-size: size(md);
        }

        @include response(xxl) {
          margin-top: 0;
          width: 40ch;
        }

        svg {
          color: color(tertiary);
          margin-right: 1rem;
        }
      }
    }

    a {
      margin-inline: auto;

      @include response(xxl) {
        margin-inline: unset;

        & > button {
          padding-inline: 3rem;
          padding-block: 2rem;
          font-size: 1.8rem;
        }
      }
    }

    .scroll_action {
      margin-top: auto;
      border-left: 3px solid color(tertiary);

      p {
        font-family: font(paragraph);
        color: color(whitef2);
        margin-left: 1rem;
        width: 100px;
        font-size: 1.4rem;

        @include response(md) {
          font-size: 1.6rem;
        }
      }

      @include response(xxl) {
        margin-left: unset;
      }
    }
  }
}
