@import './index.scss';

/* !!!HERO!!! */
.header {
  background-color: color(primary);
  height: 90vh;
  position: relative;
  padding: 5em 2em;
  isolation: isolate;
  overflow: hidden;
  z-index: 2;

  @include response(sm) {
    padding: 5em 8em;
  }

  @include response(lg) {
    padding-bottom: 10rem;
  }

  @include response(xxl) {
    padding: 5em 15em;
    background: rgb(23, 28, 34);
    // background: linear-gradient(90deg, rgba(23, 28, 34, 1) 80vw, #20272f 80vw);
    display: flex;
  }

  .hero {
    color: color(whitef2);
    display: grid;
    height: 100%;

    @include response(xxl) {
      width: 100%;
    }

    .hero_title {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      @include response(xxl) {
        text-align: left;
        align-items: flex-start;
      }

      h3 {
        font-family: font(title);
        text-transform: uppercase;
        line-height: 57px;
        font-size: 1.4rem;

        @include response(md) {
          font-size: 2rem;
        }
      }

      h1 {
        font-size: size(xl);
        margin-bottom: 3rem;
        font-weight: 700;
        font-family: font(title);

        @include response(md) {
          font-size: 5rem;
          letter-spacing: 0.3rem;
        }

        @include response(lg) {
          font-size: 7rem;

          letter-spacing: 0.3rem;
        }

        span {
          color: color(tertiary);
        }
      }

      .hero_image {
        border-radius: 50%;
        border: 5px solid color(tertiary);
        position: relative;
        height: 180px;
        width: 180px;
        overflow: hidden;
        margin-inline: auto;

        @include response(xxl) {
          display: none;
        }
      }

      p {
        font-size: size(sm);
        font-family: font(paragraph);
        font-weight: 300;
        margin-top: 2em;
        color: color(whitef2);

        @include response(md) {
          font-size: size(md);
        }

        @include response(xxl) {
          margin-top: 0;
          width: 40ch;
        }

        svg {
          color: color(tertiary);
          margin-right: 1rem;
        }
      }
    }

    a {
      margin-inline: auto;
      width: fit-content;
      height: fit-content;

      @include response(xxl) {
        margin-inline: unset;

        & > button {
          padding-inline: 3rem;
          padding-block: 2rem;
          font-size: 1.8rem;
        }
      }
    }

    .scroll_action {
      margin-top: auto;
      border-left: 3px solid color(tertiary);

      p {
        font-family: font(paragraph);
        color: color(whitef2);
        margin-left: 1rem;
        width: 100px;
        font-size: 1.4rem;

        @include response(md) {
          font-size: 1.6rem;
        }
      }

      @include response(xxl) {
        margin-left: unset;
      }
    }
  }

  .personal_hero {
    display: none;

    @include response(xxl) {
      display: block;
      position: absolute;
      width: 650px;
      height: 100%;
      top: 0;
      right: 20%;
    }
  }

  .shaper {
    display: none;
    position: absolute;
    top: 0;
    right: -300px;
    z-index: -1;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: circle(50% at 50% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 600px;
      background-color: gray;

      .inside {
        clip-path: circle(50% at 50% 50%);
        height: 595px;
        width: 595px;
        background-color: color(primary);
      }
    }
  }

  .shaperTwo {
    display: none;
    position: absolute;
    bottom: -300px;
    right: 100px;
    z-index: -1;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 600px;
      background-color: gray;

      .inside {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        height: 595px;
        width: 595px;
        background-color: color(primary);
      }
    }
  }

  .shaperThree {
    display: none;
    position: absolute;
    top: 0;
    left: -150px;
    z-index: -1;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 300px;
      background-color: gray;

      .inside {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 1% 100%, 26% 50%, 1% 0%);
        height: 295px;
        width: 295px;
        background-color: color(primary);
      }
    }
  }
  .shaperFour {
    display: none;
    position: absolute;
    bottom: -50px;
    left: -100px;
    z-index: -1;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 300px;
      background-color: gray;

      .inside {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        height: 295px;
        width: 295px;
        background-color: color(primary);
      }
    }
  }
}
