@import './index.scss';

/* !!!NAVBAR!!! */
.nav {
  background-color: color(primary);
  position: relative;

  @include response(xxl) {
    background: rgb(23, 28, 34);
    // background: linear-gradient(90deg, rgba(23, 28, 34, 1) 80vw, #20272f 80vw);
  }

  .navbar {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 2em;
    position: relative;

    @include response(sm) {
      padding: 1em 8em;
    }

    @include response(xxl) {
      padding: 0em 15em;
    }

    &_logo {
      width: 50px;
      cursor: pointer;
      margin-right: auto;

      @include response(xxl) {
        width: 80px;
      }
    }

    &_list {
      display: none;

      @include response(lg) {
        display: flex;

        li a {
          cursor: pointer;
          position: relative;
          font-size: size(sm);
          font-weight: 900;
          font-family: font(title);
          color: color(whitef2);
          font-family: font(paragraph);
          margin-left: 3em;
          transition: color 200ms ease-in;
          text-transform: uppercase;
          isolation: isolate;

          @include response(xxl) {
            font-size: size(md);
          }

          &::after {
            content: '';
            width: 20px;
            height: 5px;
            border-radius: 2px;
            background-color: color(tertiary);
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: width 700ms ease;
            z-index: -1;
          }

          &:hover::after {
            width: 100%;
            // height: 130%;
            // left: -5%;
          }
        }
      }
    }
    svg {
      color: color(whitef2);
      font-size: size(xl);
      cursor: pointer;
      order: 2;
      margin-left: 2rem;

      @include response(lg) {
        display: none;
      }
    }

    .mail_link {
      order: 1;

      @include response(lg) {
        margin-left: auto;
      }
    }
  }

  .navbar_responsive {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: color(secondary);
    z-index: 20;
    padding: 1em 2em;
    translate: -100vw;
    transition: all 300ms ease-in;

    @include response(sm) {
      padding: 1em 8em;
    }
    @include response(md) {
      gap: 8rem;
    }

    li {
      a {
        cursor: pointer;
        font-size: size(sm);
        color: color(whitef2);
        font-family: font(paragraph);
      }
    }

    @include response(lg) {
      display: none;
    }
  }

  .open {
    translate: 0;
  }
}
