@import './index.scss';

.projects {
  background-color: color(primary);
  font-family: font(paragraph);
  position: relative;
  padding: 5em 2em;

  @include response(sm) {
    padding: 5em 8em;
  }

  @include response(lg) {
    padding: 15em 8em;
  }

  h4 {
    text-transform: uppercase;
    color: color(whitef2);
    font-family: font(title);
    font-size: 1rem;

    @include response(md) {
      font-size: 1.3rem;
    }
  }

  h3.title {
    font-size: 4rem;
    font-weight: 700;
    font-family: font(title);
    color: color(tertiary);
    margin-bottom: 2rem;

    @include response(md) {
      font-size: 6rem;
    }
  }

  .projects_filter {
    background-color: color(secondary);
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;

    @include response(md) {
      gap: 3rem;
      padding-inline: 6rem;
    }
    @include response(lg) {
      max-width: 600px;
      margin-inline: auto;
    }

    .filter_item {
      color: color(whitef2);
      font-family: font(title);
      font-size: 1.3rem;
      font-weight: 700;
      padding-block: 2rem;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid color(tertiary);
      }
    }

    .active {
      border-bottom: 2px solid color(tertiary);
    }
  }

  /* Works on Firefox */
  .project_list {
    margin-top: 3rem;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    // gap: 3rem;
    padding-bottom: 3rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(126, 126, 126) #494949;

    @include response(xl) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  /* Works on Chrome, Edge, and Safari */
  .project_list::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  .project_list::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  .project_list::-webkit-scrollbar-thumb {
    background-color: rgb(126, 126, 126);
    /* border-radius: 20px;
    border: 3px solid #333; */
  }
}
