@import './index.scss';

.projects {
  background-color: color(primary);
  font-family: font(paragraph);
  position: relative;
  padding: 5em 2em;
  isolation: isolate;

  @include response(sm) {
    padding: 5em 8em;
  }

  @include response(lg) {
    padding: 15em 8em;
  }

  @include response(xxl) {
    padding: 15em 15em;
  }

  h4 {
    text-transform: uppercase;
    color: color(whitef2);
    font-family: font(title);
    font-size: 1rem;

    @include response(md) {
      font-size: 1.3rem;
    }
  }

  h3.title {
    font-size: 4rem;
    font-weight: 700;
    font-family: font(title);
    color: color(tertiary);
    margin-bottom: 2rem;

    @include response(md) {
      font-size: 6rem;
    }
  }

  .projects_filter {
    // background-color: color(secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    // justify-content: space-between;
    // padding-inline: 2rem;

    @include response(md) {
      gap: 3rem;
      padding-inline: 6rem;
    }
    @include response(lg) {
      flex-wrap: unset;
      max-width: 800px;
      margin-inline: auto;
      background-color: color(secondary);
      justify-content: space-between;
    }

    .filter_item {
      background-color: color(secondary);
      color: color(whitef2);
      font-family: font(title);
      font-size: 1.3rem;
      font-weight: 700;
      padding-block: 1rem;
      padding-inline: 2rem;
      border-radius: 25px;
      cursor: pointer;

      @include response(lg) {
        padding-block: 2rem;
        padding-inline: unset;
        border-radius: unset;
      }

      &:hover {
        @include response(lg) {
          border-bottom: 2px solid color(tertiary);
        }
      }
    }

    .active {
      background-color: color(tertiary);
      @include response(lg) {
        background-color: unset;
        border-bottom: 2px solid color(tertiary);
      }
    }
  }

  /* Works on Firefox */
  .project_list {
    margin-top: 3rem;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    gap: 2rem;
    padding-bottom: 3rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(126, 126, 126) #494949;

    @include response(xl) {
      row-gap: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }

  /* Works on Chrome, Edge, and Safari */
  .project_list::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  .project_list::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  .project_list::-webkit-scrollbar-thumb {
    background-color: rgb(126, 126, 126);
    /* border-radius: 20px;
    border: 3px solid #333; */
  }

  .shaperOne {
    display: none;
    position: absolute;
    top: -50px;
    right: 50px;
    z-index: -1;
    rotate: 180deg;

    @include response(xxl) {
      display: block;
    }

    .outside {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 300px;
      background-color: gray;

      .inside {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        height: 295px;
        width: 295px;
        background-color: color(primary);
      }
    }
  }
}
