@import './index.scss';

.top_arrow {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(color(black333), 0.6);
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 10;
  display: grid;
  place-content: center;

  svg {
    color: color(whitef2);
    font-size: 3rem;
    cursor: pointer;
  }
}
